@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter/static/Inter-Regular.ttf);
}

@font-face {
  font-family: "Dafoe";
  src: url(../fonts/Mr_Dafoe/MrDafoe-Regular.ttf);
}

@font-face {
  font-family: "Santio";
  src: url(../fonts/SANTIO/TTF/Santio\ regular.ttf);
}

$fontInter: "Inter";
$fontDafoe: "Dafoe";
$fontSantio: "Santio";
