@use "_variables" as variables;
@use "_fonts" as fonts;

@mixin textBlock {
  display: flex;
  flex-direction: column;
  text-align: left;
}

@mixin navBar {
  nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 3rem;
    width: 95vw;
    gap: 20px;
    padding-right: 2rem;

    li {
      list-style: none;
      img {
        height: 2rem;
        display: flex;
        align-items: center;
      }
      .navText {
        color: variables.$main-color;
        // text-decoration: underline;
        border-bottom-style: solid;
        border-bottom-width: 1.1px;
        padding-bottom: 5px;
        border-bottom-color: variables.$main-secondaryColor;
        text-decoration-color: variables.$main-secondaryColor;

        font-family: fonts.$fontInter;
      }
    }
  }
}

@mixin headerSection {
  display: flex;
  flex-direction: column;
  margin-left: 5rem;

  h1 {
    margin-top: 11rem;
    color: variables.$main-color;
    font-size: variables.$main-h1Size;
    width: 15vh;
  }
  .headerText {
    margin-top: 10rem;
    color: variables.$main-secondaryColor;
    font-size: variables.$main-fontSize;
    font-family: fonts.$fontDafoe;
  }
}

//MAIN

@mixin SectionText {
  margin: 35vh 15vw;
  width: 23vw;
  letter-spacing: 2px;
  line-height: 45px;
  font-size: variables.$main-h3Size;
  font-family: fonts.$fontSantio;
  color: variables.$main-fourthColor;
  .textEm {
    color: white;
    font-style: normal;
    background-color: variables.$main-bgColor;
  }
}

@mixin secSection {
  margin: 35vh 15vw;
  width: 33vw;
  letter-spacing: 2px;
  font-size: variables.$sec-h3Size;
  font-family: fonts.$fontSantio;
  color: variables.$main-secondaryColor;
  img {
    width: 4vw;
  }

  h2 {
    font-size: variables.$sec-h2Size;
    color: variables.$main-secondaryColor;
    line-height: 145px;
  }
  .workers {
    color: white;
    font-style: normal;
    background-color: variables.$main-bgColor;
  }
}

@mixin thirdSection {
  margin: 35vh 15vw;
  width: 33vw;
  letter-spacing: 2px;
  font-size: variables.$sec-h3Size;
  font-family: fonts.$fontSantio;
  color: variables.$main-thirdColor;
  img {
    width: 4vw;
  }

  h2 {
    font-size: variables.$sec-h2Size;
    color: variables.$main-thirdColor;
    line-height: 145px;
  }
  .workers {
    color: white;
    font-style: normal;
    background-color: variables.$main-bgColor;
  }
}

@mixin fourthSection {
  margin: 35vh 15vw;
  width: 33vw;
  letter-spacing: 2px;
  font-size: variables.$sec-h3Size;
  font-family: fonts.$fontSantio;
  color: variables.$main-fourthColor;
  img {
    width: 4vw;
  }

  h2 {
    font-size: variables.$sec-h2Size;
    color: variables.$main-fourthColor;
    line-height: 145px;
  }
  .workers {
    color: white;
    font-style: normal;
    background-color: variables.$main-bgColor;
  }
}

@mixin fifthSection {
  margin: 35vh 15vw;
  width: 23vw;
  letter-spacing: 2px;
  line-height: 45px;
  font-size: variables.$main-h3Size;
  font-family: fonts.$fontSantio;
  color: variables.$main-fifthColor;
  .textEm {
    color: white;
    font-style: normal;
    background-color: variables.$main-bgColor;
  }
}

@mixin sixthSection {
  min-width: 100vw;
  background-color: white;
  margin: 0 auto;
  overflow: hidden;
  margin: 10px 0 -15px 0;
  div {
    background-image: url(../img/see.png);
    background-repeat: no-repeat;
    background-size: cover;

    img {
      width: 100vw;
    }
  }
}

@mixin footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  height: 70vh;
  color: white;
  line-height: 55px;
  overflow: hidden;
  padding-top: 15vh;
  margin-top: 0px;

  p {
    font-size: variables.$main-h3Size;

    margin: 0 15vw;
  }
  button {
    margin: 2vh 15vw;
    font-family: fonts.$fontInter;
    width: fit-content;
    font-size: 1.3rem;
    color: white;
    padding: 1rem 1rem;
    background-color: black;
    border: solid 2px white;
  }

  button:hover {
    cursor: pointer;
    box-shadow: 13px 20px 0px -2px rgba(255, 255, 255, 1);
  }
  .subText {
    font-size: 0.8rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 45%;
    padding: 5vh 0 5px 0;
    a {
      text-decoration: none;
      color: #6bc1a3;
    }
    a:hover {
      color: #23d295;
    }
  }
}
