$main-color: white;
$main-bgColor: #333333;
$main-secondaryColor: #e7bc0e;
$main-thirdColor: #cb91b6;
$main-fourthColor: #6bc1a3;
$main-sixthColor: #7eb8e1;

$padding-start: 0;
$margin-start: 0;
$bx-size: border-box;

$main-h1Size: 6rem;
$main-h2Size: 3rem;
$main-h3Size: 2rem;
$main-fontSize: 1.8rem;
