@use "_variables" as variables;
@use "_fonts" as fonts;
@use "_mixin" as mixin;

//GLOBAL

* {
  padding: variables.$padding-start;
  margin: variables.$margin-start;
  box-sizing: variables.$bx-size;
  font-family: fonts.$fontSantio;
}

body {
  background-image: url(../img/cleo-topper.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  background-blend-mode: multiply;
}
//HEADER

header {
  @include mixin.navBar;
  @include mixin.headerSection;
}

//MAIN
section {
  @include mixin.SectionText;
}
.secSection {
  @include mixin.secSection;
}
.thirdSec {
  @include mixin.thirdSection;
}
.fourthSection {
  @include mixin.fourthSection;
}

.fifthSection {
  @include mixin.fifthSection;
}

.sixthSection {
  @include mixin.sixthSection;
}

footer {
  @include mixin.footer;
}
